about-time==4.2.1
alive-progress==3.1.5
autograd==1.7.0
Brotli @ file:///D:/bld/brotli-split_1695989908365/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
cffi @ file:///D:/bld/cffi_1723018514847/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
cma==3.2.2
contourpy==1.2.1
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.8
ex_fuzzy==1.3.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
fonttools==4.53.1
grapheme==0.6.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1724450538981/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib==1.4.2
kiwisolver==1.4.5
MarkupSafe @ file:///D:/bld/markupsafe_1706900055959/work
matplotlib==3.9.2
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///D:/bld/numpy_1724034970086/work/dist/numpy-2.1.0-cp312-cp312-win_amd64.whl#sha256=0560fe93c74698a4375f9dcd169e3ffdd7d3d125cfc62c137f0f36485e8cc023
packaging==24.1
pandas @ file:///D:/bld/pandas_1715897834004/work
pillow @ file:///D:/bld/pillow_1719903666313/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pymoo==0.6.1.3
pyparsing==3.1.4
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///D:/bld/pyyaml_1723018442776/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
setuptools==72.2.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1723500263401/work
threadpoolctl==3.5.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
wheel==0.44.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
wrapt==1.16.0
zstandard==0.23.0
